.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup__opened {
  display:block;
}

.form {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 345px;
  z-index: 2;
  opacity: 1;
}

@media screen and (max-width: 602px) {
  .form {
    height: 322px;
    flex-direction: column;
  }
}