.header__line {
  width: 100%;
  vertical-align: bottom;
  outline: #545454 solid 1px;
  opacity: 0.7;
}

@media screen and (max-width: 602px) {
  .header__line {
    width: 100vw;
    margin-left: -19px;
  }
}