.popup__close {
  width: 32px;
  height: 32px;
  margin-left: 8px;
  margin-bottom: 380px;
  padding: 0;
  align-self: center;
  background-image: url('../../../images/popup-close-icon.svg');
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.popup__close:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 602px) {
  .popup__close {
    width: 20px;
    height: 20px;
    margin-bottom: 16px;
    align-self: flex-end;
  }
}