.form__close {
  width: 32px;
  height: 32px;
  margin-left: 8px;
  padding: 0;
  align-self: flex-start;
  background-color: #000000;
  border: none;
}

.form__close:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 602px) {
  .form__close {
    width: 20px;
    height: 20px;
    margin-bottom: 16px;
    align-self: flex-end;
    margin-right: calc(50vw - 141px);
  }
}