/* для codepen */
.body {
  margin: 0;
  background-color: #000000;
}
.page {
  margin: 0;
  background-color: #000000;
  color: #ffffff;
}
.header {
  display: grid;
  grid-template-columns: 1fr 142px 738px 1fr;
  grid-template-rows: 1fr 41px;
  margin: 0 auto;
  min-height: 74px;
  margin-top: 45px;
}

.header::after {
  content: '';
  grid-column: 2/4;
  grid-row: 3/3;
  outline: #545454 solid 1px;
  opacity: 0.7;
}

@media screen and (max-width: 918px) {
  .header {
    grid-template-columns: 19px 142px 1fr 19px;
    grid-template-rows: 1fr 41px;
  }
}

@media screen and (max-width: 602px) {
  .header {
    margin-top: 28px;
    min-height: 56px;
    grid-template-columns: 27px 104px 1fr 27px;
    grid-template-rows: 1fr 31px;
  }
  
  .header::after {
    grid-column: 1/5;
    grid-row: 3/3;

  }
}
.header__logo {
  width: 142px;
  grid-column: 2/3;
  grid-row: 1/2;
}



@media screen and (max-width: 602px) {
  .header__logo {
    width: 104px;
  }
}
.content {
  color: #ffffff;
  min-width: 282px;
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 918px) {
  .content {
    margin: auto 19px;
  }
}
.profile {
  display: flex;
  margin-top: 42px;
}

@media screen and (max-width: 602px) {
  .profile {
    flex-direction: column;
  }
}
.profile__avatar {
  width: 120px;
  height: 120px;
}

@media screen and (max-width: 602px) {
  .profile__avatar {
    margin: 0 auto;
  }
}
.profile__name {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Inter, Georgia, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

@media screen and (max-width: 700px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    padding-left: 20px;
  }
}
.profile__work {
  grid-column: 1/2;
  grid-row: 2/3;
  margin: 0;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Inter, Georgia, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 602px) {
  .profile__work {
    margin-top: 8px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
.profile__info {
  display: grid;
  grid-template-columns: 1fr 55px auto;
  grid-template-rows: 1fr min-content;
  margin: auto auto auto 30px;
}

@media screen and (max-width: 602px) {
  .profile__info {
    grid-template-columns: 1fr 20px auto;
    margin: 26px 19px 0 19px;
  }
}
.profile__info-button {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: end;
  align-self: flex-end;
  margin: 0 8px 8px 18px;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  background-image: url('../../../images/info-button.svg');
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #FFFFFF;
}

.profile__info-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 602px) {
  .profile__info-button {
    justify-self: center;
    align-self: center;
    width: 16px;
    height: 16px;
    margin: 0;
  }
}
.profile__add-button {
  margin: auto 0;
  width: 150px;
  height: 50px;
  transition: 0.3s;
  background-image: url('../../../images/add-button.svg');
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 602px) {
  .profile__add-button {
    width: 100%;
    background-size: 16px;
    margin: 32px auto 0 auto;
  }
}
.element {
  margin: 30px auto 65px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 602px) {
  .element {
    justify-content: center;
    margin: 16px auto 48px auto;
  }
}
.element__list {
  position: relative;
  width: 282px;
  margin-top: 20px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
  overflow: hidden;
}
.element__img {
  width: 282px;
  height: 282px;
}
.element__del {
  width: 18px;
  height: 19px;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: 0.3s;
  background-image: url('../../../images/element-del.svg');
  background-color: rgba(255, 255, 255, 0);
  color: black;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.element__del:hover {
  opacity: 0.6;
  cursor: pointer;
}
.element__item {
  margin: 0;
  margin: 20px 20px 25px 21px;
  display: flex;
  justify-content: space-between;
  font-family: Inter, Georgia, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}
.element__text {
  width: 220px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.element__like {
  align-self: center;
  width: 22px;
  height: 19px;
  padding: 0;
  transition: 0.3s;
  background-image: url('../../../images/element-like.svg');
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.element__like:hover {
  opacity: 0.5;
  cursor: pointer;
}
.element__like_active {
  background-image: url('../../../../images/element-like-active.svg');
}
.footer {
  min-width: 282px;
  max-width: 880px;
  margin: 0 auto 60px;
}

@media screen and (max-width: 918px) {
  .footer {
    margin: 0 19px 60px;
  }
}

@media screen and (max-width: 602px) {
  .footer {
    margin-bottom: 36px;
  }
}
.footer__heading {
  margin: 0;
  padding: 0;
  font-family: Inter, Georgia, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 602px) {
  .footer__heading {
    font-size: 14px;
    line-height: 17px;
  }
}
.popup {
  margin: 0;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup_opened {
  display:block;
}
.popup__cell {
  position: absolute;
  top: calc(41.7vh - 165px);
  left: calc(50vw - 215px);
  width: 430px;
  min-height: 330px;
}

@media screen and (max-width: 602px) {
  .popup__cell {
    width: 282px;
    min-height: 322px;
    top: calc(40.5vh - 161px);
    left: calc(50vw - 142px);
  }
}

@media screen and (min-width: 1500px) {
  .popup__cell {
    top: 250px;
  }
}
.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  padding: 0;
  background-image: url('../../../images/popup-close-icon.svg');
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
}

.popup__close:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 602px) {
  .popup__close {
    top: -35px;
    right: 0;
    width: 20px;
    height: 20px;
   /*  margin-bottom: 16px; */
  }
}
.popup__heading {
  margin: 34px 64px 41px 36px;
  font-family: Inter, Georgia, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width: 602px) {
  .popup__heading {
    margin: 25px auto 70px;
    font-size: 18px;
    line-height: 22px;
  }
}
.form {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.form__text {
  margin: 0 auto;
  margin-bottom: 25px;
  padding-bottom: 4px;
  width: 358px;
  height: 27px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: Inter, Georgia, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 602px) {
  .form__text {
    width: 238px;
    margin-bottom: 22px;
  }
}
.form__save {
  margin: 23px auto 37px;
  width: 358px;
  min-height: 50px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  font-family: Inter, Georgia, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.form__save:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 602px) {
  .form__save {
    width: 238px;
    min-height: 46px;
    margin: 23px auto 25px;
    font-size: 14px;
    line-height: 17px;
  }
}
.popupImg {
  margin: 0;
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.popupImg__cell {
  align-self: center;
  position: absolute;
  top: 90px;
}

@media screen and (max-width: 602px) {
  .popupImg__cell {
    top: 136px;
  }
}

@media screen and (min-width: 1500px) {
  .popupImg__cell {
    top: 250px;
  }
} 
.popupImg__img {
  max-width: 75vw;
  max-height: 75vh;
  object-fit: contain;
}
.popupImg__text {
  margin: 0;
  margin-top: 10px;
  color: #ffffff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
.popupImg__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  padding: 0;
  background-image: url('../../../images/popup-close-icon.svg');
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
}

.popupImg__close:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 602px) {
  .popupImg__close {
    top: -35px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}
.popupImg_opened {
  display: flex;
}
.form__text_error {
  border-bottom-color: red;
}

.form__message-error {
  /* position: absolute;
  top: 140px;
  left: 35px; */
  width: 358px;
  min-height: 12px;
  margin: 0 auto;
  margin-bottom: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
}
.form__save_disable {
  opacity: 0.2;
}

.form__save_disable:hover {
  cursor: none;
  opacity: 0.2;
}