.element {
  margin: 30px auto 65px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 602px) {
  .element {
    justify-content: center;
    margin: 16px auto 48px auto;
  }
}